{ BasedOnStyle: LLVM, IndentWidth: 4, TabWidth: 4, UseTab: Always, Language: Cpp, AlignConsecutiveAssignments: false, AlignTrailingComments: true, ColumnLimit: 160,
BreakBeforeTernaryOperators: true, BreakBeforeBinaryOperators: All, IndentCaseLabels: true, AllowShortFunctionsOnASingleLine: None, SortIncludes: false }